[submodule "tag-ruby/rbenv"]
	path = tag-ruby/rbenv
	url = https://github.com/sstephenson/rbenv
[submodule "tag-zsh/oh-my-zsh"]
	path = tag-zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
